:root {
  --tile: min(9.8vw, 9.8vh);
  --grass: #7dba6f;
  --grass-border: #5a9e4e;
  --lake: #a8b4e8;
  --lake-dark: #8a96d0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  background: #6b1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-wrapper {
  position: relative;
  width: calc(var(--tile) * 10);
  height: calc(var(--tile) * 10);
}

.board-bg {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(10, var(--tile));
  grid-template-rows: repeat(10, var(--tile));
  z-index: 0;
}

.tile { width: var(--tile); height: var(--tile); }
.tile.grass { background-image: url('./background.png'); background-size: cover; border: 1px solid rgba(0,0,0,0.15); }
.tile.lake  { background-image: url('./water.png'); background-size: cover; border: 1px solid rgba(0,0,0,0.15); }

.pieces-layer {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(10, var(--tile));
  grid-template-rows: repeat(10, var(--tile));
  z-index: 3;
}

.castle-layer {
  position: absolute;
  inset: 0;
  display: grid;
  grid-template-columns: repeat(10, var(--tile));
  grid-template-rows: repeat(10, var(--tile));
  pointer-events: none;
  z-index: 4;
}

.piece {
  width: var(--tile);
  height: var(--tile);
  position: relative;
  background-size: 186% 126%;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}

.piece.red {
  background-image: url('./redPiece.png');
}

.piece.blue {
  background-image: url('./bluePiece.png');
}

.piece.castle {
  z-index: 2;
}

.piece.selected {
  outline: 3px solid yellow;
  outline-offset: -3px;
  filter: brightness(1.3);
}

.piece-icon-wrapper {
  position: absolute;
  inset: 0;
}

.piece-rank {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Georgia', serif;
  font-size: calc(var(--tile) * 0.22);
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,0.9), 0 0 6px rgba(0,0,0,0.7);
  line-height: 1;
  z-index: 5;
  user-select: none;
}

.piece-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  object-fit: contain;
  z-index: 4;
  pointer-events: none;
}