services:

  backend:
    build: ./server
    container_name: api
    ports:
      - "5001:5000"
    volumes:
      - ./server:/app
      - /app/node_modules
    env_file:
      - .env
    networks:
      - mern-network

  frontend:
    build: ./client
    container_name: website
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    stdin_open: true
    tty: true
    networks:
      - mern-network

networks:
  mern-network:
    driver: bridge

volumes:
  mongo-data:
